/*body {
      background-image: url(pic/fon.jpg);
      background-size: cover;
      }*/
#wrapper {
    width: 1000px;
    /*background-color: #00FF00;*/
    outline: 1px solid black;
    margin: 0px auto;

         }
#header {
    outline: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
         }
      #menu {
         width: 20%;
         position: absolute;
         letter-spacing: 10px;
         text-align: right;
         font: 22px/24px  bold;
         top: 40px;
         left: 750px;
         }
         #sq {
         width: 950px;
         height: 150px;

         position: absolute;
         border: 11px solid rgba(0,0,0,0.05);
         top: 10px;
         left: 10px;
         }
#left, #right {
    width: 200px;

             }
#left {
       margin-left: 20px;
       float: left;
       }
    #left > div{
       height: 200px;
        outline: 1px solid black;
         margin-bottom: 20px;
        }

#right {
        height: 860px;
        margin-right: 20px;
        float: right;
        outline: 1px solid black;
        }
#content {
    outline: 1px solid black;
    height: 860px;
    margin: 0px 240px;
         }
#footer {
    outline: 1px solid black;
    height: 200px;
    margin-top: 20px;
         }
.clearfix {
       clear: both;
       }
